body {
     position: relative;
     font-family: 'Noto Sans', sans-serif;
     font-size: 16px;
     line-height: 1.4;
     color: #000;
     min-width: 320px;
     overflow-x: hidden;
     height: auto;
}

.headbar {
     width: 100%;
     height: 70px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.headbar .container {
     height: inherit;
     max-width: 990px;
     position: relative;
     display: flex;
     justify-content: space-evenly ;
     align-items: center;
}

.headbar-menu {
     list-style-type: none;
     padding-left: 0;
     margin-bottom: 0;
}
.headbar-menu li {
     display: inline-block;   
}

.headbar-menu li a {
     display: inline-block;   
     color: #000;
     opacity: 0.6;
     text-decoration: none;
     padding: 10px;
     transition: all .07s ease-in-out;

}

.headbar-menu li a:hover{
     opacity: 1;
     border-radius: 100px;
     transform: scale(1.04);
     box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}

.headbar-wrap {
     display: flex;
     align-items: center;
}

.emblem{
     position: relative ;
/*     float: left;*/
     height: 100%;     
     transition: all 0.25s ease-in-out;
}

.emblem:hover {
     transform: scale(1.10);
}

.userim{
     position: relative ;
     height: 50px;    
     width: 50px; 
     transition: all 0.25s ease-in-out;
}

.userim:hover {
     transform: scale(1.10);
}
/*-----------------------------------------------------------------------------------*/

.footbar {
     width: 100%;
     height: 115px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.footbar .container {
     height: inherit;
     max-width: 990px;
     position: relative;
     display: flex;
     justify-content: space-evenly ;
}

.arrowUP{
     position: absolute;
     float: right;
     top: 0px;
     height: 100px;
     width: 100px; 
     transition: all 0.25s ease-in-out;
     opacity: 0.6;
}

.arrowUP:hover {
     transform: scale(1.15);
     opacity: 1;
}



.footbar-menu li {
     display: inline-block; 
       justify-content: space-between;
       margin: 10px;
}

.footbar-menu li a {
     display: inline-block;   
     color: #000;
     opacity: 0.6;
     text-decoration: none;
     padding: 10px;
     transition: all .07s ease-in-out;
}

.footbar-menu li a:hover{
     opacity: 1;
     border-radius: 100px;
     transform: scale(1.04);
     box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}

.soso {
     
     display: flow;
     max-width: 866px;
     align-items: center;
     justify-content: space-between;

}

.social {
     display: flex;
     width: 150px;
     align-items: center;
     justify-content: space-around;
}

.with{
     height: 25px; 
     transition: all 0.25s ease-in-out;
}

.vk{
     height: 50px; 
     transition: all 0.25s ease-in-out;
     opacity: 0.6;
}

.vk:hover {
     transform: scale(1.15);
     opacity: 1;
}


.legal{   
     height: 42px;
     max-width: 866px;
     font-size: 12px;
     line-height: 1.4;
     color: #000;
}

/*-----------------------------------------------------------------------------------*/