h1{font:normal 45px/45px Arial;color:#6b6b6b;}
h2{font:normal 30px/30px Impact;color:#6b6b6b;}
h3{font:normal 18px/18px Arial;color:#6b6b6b;}
.caption__portfolio h3{font:normal 18px/18px Arial;color:#6b6b6b;height:52px;}
h4{font:bold 14px/18px Arial,Helvetica,sans-serif;color:#2c2c2c;}
h5{font:normal 12px/18px Arial,Helvetica,sans-serif;color:#333333;}
h6{font:normal 12px/18px Arial,Helvetica,sans-serif;color:#333333;}.main-holder{font:normal 14px/21px Arial,Helvetica,sans-serif;color:#6b6b6b;}.logo_h__txt,.logo_link{font:normal 40px/48px Alfa Slab One;color:#FFFFFF;}.sf-menu>li>a{font:normal 20px/20px Impact,Arial,Helvetica,sans-serif;color:#FFFFFF;}